
<!-- <html lang="en" ng-app="framePreviewApp">
<head>
  <title>Online Video Creator</title>
  <link rel="stylesheet" type="text/css" href="../../public_html/css/fanzeng.css">
  <link rel="stylesheet" type="text/css" href="../../public_html/css/multimedia_toolbox.css">
  <script type="text/javascript" src="scripts/videoCreator.js"></script>
  <script type="text/javascript" src="scripts/app.module.js"></script>
  <script type="text/javascript" src="scripts/video-editor/video-editor.module.js"></script>
  <script type="text/javascript" src="scripts/video-editor/video-editor.component.js"></script>
</head>
<body> -->
  <br>Disclaimer: Your images will be deleted after use. But keep in mind this is on external web hosting. Please use with discretions. <br><br>
  <h2>Step 1: Upload key frames in order (must be image files with same extension):</h2><br>
  
  <multimedia-toolbox-file-upload [videoRecipeId]="videoRecipeId" (fileUploadSuccess)="onFileUploadSuccess($event, videoEditor)"></multimedia-toolbox-file-upload>
  <multimedia-toolbox-video-editor (videoRecipeCreated)="onVideoRecipeCreated($event)" #videoEditor [events]="eventsSubject.asObservable()"></multimedia-toolbox-video-editor>

  <h2>Step 2: Specify video parameters:</h2><br>
  <form action="#" method="post" enctype="multipart/form-data">
    <label for="video-width">Video width</label><br>
    <input id="video-width" name="videoWidth" [(ngModel)]="videoWidth"><br>
    <label for="video-height">Video height</label><br>
    <input id="video-height" name="videoHeight" [(ngModel)]="videoHeight"><br>
    <label for="frames-per-second">Frames per second</label><br>
    <input id="frames-per-second" name="framesPerSecond"[(ngModel)]="framesPerSecond"><br>
    <label for="quality-ratio">Quality ratio (0: Best, 51: Worst)</label><br>
    <input id="quality-ratio" name="qualityRatio" [(ngModel)]="qualityRatio"><br>
    <input type="submit" action="#" (click)="makeVideo()"><br>
    <h1 *ngIf="generatedVideoLink.length > 0">Download the video here (right click, save as): <a [href]="generatedVideoLink">output.mp4</a></h1><br>
  </form>
  <br><br>
  <form action="#" method="post" enctype="multipart/form-data">
  <input type="submit" value="Start Over" name="startOver" (click)="startOver();">
  Pressing this button will delete all previous uploaded images.<br>
  <!--
    <form action="#" method="post" enctype="multipart/form-data">
    <input type="submit" value="Delete All User Data" name="deleteAllUserData">
    </form>
  -->
  </form>
  <!-- <a href="index.php">Back to index</a> -->
<!-- </body>
</html> -->
