
#image_container_horizontal {
   background-color: #bbb;
   width: 1000px;
   height: 600px;
   margin: auto;
   border: 3px solid #73AD21;;
   overflow-x: scroll;
}

img {
   float: left;
   clear: none;
   margin: 5px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    border: 20px;
}

input.number_of_frames {
    width: 100px;
}

#update_frame_button {
    display: block;
    width: 50px;
    margin: auto;
}
