/node_modules
/public/hot
/public/storage
/public/data/user_data
/storage/*.key
/vendor
artisan
/bin/composer
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
