body {
    background: #ffffff;
    color: #008744;
    margin: 20px;
}

html {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

h {
    color: #008744;
}

p, label {
    color: #0057e7;
}

a:link {
  position: relative;
  opacity: 0.95;
  color: #d62d20;
  text-decoration: underline;
}

a:hover {
  opacity: 1;
  text-decoration: underline;
}

button {
   background: #eeeeee;
   opacity: 0.95;
   color: #ffa700;
   padding: 3px;
   border-radius: 0px;
   border: 1px solid currentColor;
}

button:hover {
  opacity: 1;
}

.column_2 {
    float: left;
    width: 50%;
}


.column_3 {
    float: left;
    width: 33%;
}

.column_uneven_8_2_left {
    float: left;
    width: 80%;
}

.column_uneven_8_2_right {
    float: right;
    width: 20%;
}

.hidden {
    display: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 1px;
}


tr:nth-child(even) {
    background-color: #edfeff;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}


.dockbg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: #eeeeee;
}

.dock {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 20px;
}


